/*fonts*/
 @font-face {
 	font-family: NewYork;
 	src: url('NewYork.otf');
 }
@font-face {
  	font-family: Lora;
 	src: url('Lora.ttf');
 }
 @font-face {
 	font-family: DMSerif;
 	src: url('DMSerif.ttf');
 }

 /*home background*/
 #homeBody {
	margin:0px;
	background-image: url("bg.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

/*navigation bar*/
.nav {
	display: flex;
	justify-content: flex-end;
	font-family: Lora;
	font-size:20px;
	margin-top: 25px;
}

.nav a, .nav a:visited, .nav a:active {
/*.nav a, a:visited, a:active {*/
	padding-left:10px;
	padding-right: 10px;
	color: #fff;
	text-decoration:none;
}
.nav a:active {
	color: #B9A390;
}

.nav a:hover{
	color:#B9A390;
}

	/*MOBILE - nav*/
	@media only screen and (max-width: 480px) {
		.nav {
			font-size:13px;
		}
	}

/*title*/
.title {
	font-family: NewYork;
	color: #E0DBD7;
	margin-top: 350px;
	font-size: 80px;
	text-align: center;
}

.titleDescription {
	font-family: Lora;
	color: #E0DBD7;
	margin: 10px;
	font-size: 15px;
	text-align: center;
}

.titleDescription {
	font-family: Lora;
	color: #E0DBD7;
	margin: 10px;
	font-size: 15px;
	text-align: center;
	}

	/*MOBILE - title*/
	@media only screen and (max-width: 480px) {
		.title {
			font-size: 40px;
		}
		.titleDescription {
			font-size: 11px;

		}
	}

/*introduction*/
.introductionSection {
 	background-color:#1C1C1D;
 	margin-top: 550px;
 	padding-top: 100px;
 	justify-content: center;
}

.introContent {
	display: flex;
	flex-direction: row;
	width: 58%;
	margin: auto;
	padding: 20px;
}

.profile {
	max-width:200px;
	max-height: 300px;
	width: auto;
	height:auto;
}

.introText {
	display: flex;
	flex-direction: column;
	padding-left: 40px;
}

.introTitle {
	text-align:left;
	font-family: "NewYork";
	font-size: 50px;
	color:#B9A390;
}

.introBody {
	font-family: "Lora";
	font-size: 17px;
	color:#E2DDD9;
	text-align:left;
}

.introGallery {
	display: flex;
	justify-content: space-between;
	width: 58%;
	min-width: 300px;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 100px;
}

.profileImg1 {
	width: 20%;
	min-width: 150px;
	min-height: 150px;
	width: auto;
	height: auto;
}

.profileImg2 {
	width: 20%;
	min-width: 150px;
	min-height: 150px;
	width: auto;
	height: auto;
}

.profileImg3 {
	width: 20%;
	min-width: 150px;
	min-height: 150px;
	width: auto;
	height: auto;
}

.profileImg4 {
	width: 20%;
	min-width: 150px;
	min-height: 150px;
	width: auto;
	height: auto;
}

	/*MOBILE - introduction*/
	@media only screen and (max-width: 480px) {
		.introductionSection {
		 	margin-top: 380px;
		 	padding-top: 30px;
		}

		.introContent {
			display: flex;
			flex-direction: column;
			align-items: left;
			width: 80%;
			margin: auto;
			padding: 5px;
		}

		.profile {
			max-width:100px;
			max-height: 200px;
			width: auto;
			height:auto;
		}

		.introText {
			display: flex;
			flex-direction: column;
			padding-left: 3px;
		}

		.introTitle {
			font-size: 30px;
		}

		.introBody {
			font-size: 12px;
		}

		.introGallery {
			display: flex;
			flex-flow:column-wrap;
			width: 80%;
			min-width: 50px;
			padding-top: 20px;
			padding-bottom: 40px;
		}

		.profileImg1 {
			width: 20%;
			min-width: 50px;
			min-height: 50px;
			width: auto;
			height: auto;
		}

		.profileImg2 {
			width: 20%;
			min-width: 50px;
			min-height: 50px;
			width: auto;
			height: auto;
		}

		.profileImg3 {
			width: 20%;
			min-width: 50px;
			min-height: 50px;
			width: auto;
			height: auto;
		}

		.profileImg4 {
			width: 20%;
			min-width: 50px;
			min-height: 50px;
			width: auto;
			height: auto;
		}

	}

/*Brooklyn & Manhattan sections*/
.brooklynSection {
	background-color: #B7A18E;
	margin-top: 450px;
}

/*only for itinerary section*/
.brooklynSection2 {
	background-color: #B7A18E;
	margin-top: 30px;
}

.manhattanSection {
	background-color: #1C1C1D;
}

.brooklynTitle {
	font-family: NewYork;
	color: #E0DBD7;
	margin-top: 50px;
/*	margin-left: 100px;*/
	font-size: 80px;
    border-bottom: 5px solid #E0DBD7;
    width: min-content;
    padding-left: 100px;
}

.manhattanTitleContainer {
	display: flex;
	justify-content: flex-end;
}

.manhattanTitle {
	font-family: NewYork;
	color: #908C83;
	font-size: 80px;
	text-align: right;
	border-bottom: 5px solid #908C83;
    width: min-content;
    padding-right: 100px;
}

.column1 a, .column1 a:visited, .column1 a:active {
	padding-left:10px;
	padding-right: 10px;
	color: #4F3A2B;
	text-decoration:none;
}
.column1 a:active {
	color: #fff;
}

.column1 a:hover{
	color:#fff;
}

	@media only screen and (max-width: 480px) {
		.brooklynSection {
			margin-top: 380px;
		}

		/*only for itinerary section*/
		.brooklynSection2 {
			margin-top: 30px;
		}

		.brooklynTitle {
			font-size: 40px;
		    border-bottom: 3px solid #E0DBD7;
		    padding-left: 60px;
		}

		.manhattanTitle {
			font-size: 40px;
			border-bottom: 3px solid #908C83;
		    padding-right: 60px;
		}

	}

/*subway section*/

.subwaySection {
	background-color: #202020;
	margin-top: 450px;
	padding: 30px;
}

.subwayTitle {
	font-family: NewYork;
	color: #fff;
	margin-top: 30px;
	font-size: 50px;
	text-align: center;
	padding: 20px;
}

.subwayImages {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px;
}

.subwayText {
	font-family: Lora;
	color: #fff;
	font-size: 18px;
	text-align: center;
	margin: auto;
	width: 70%;
}

.subwayResources {
	justify-content: space-around;
	display: flex;
	font-family: Lora;
	font-size: 18px;
	padding: 20px;
	text-align: center;
}

.subwayResources a, .subwayResources a:visited, .subwayResources a:active {
	padding-left:10px;
	padding-right: 10px;
	color: #B9A390;
	text-decoration:none;
}
.subwayResources a:active {
	color: #fff;
}

.subwayResources a:hover{
	color:#fff;
}

	/*MOBILE - subway*/
	@media only screen and (max-width: 480px) {
		.subwaySection {
			margin-top: 380px;
		}

		.subwayTitle {
			font-size: 30px;
		}

		.subwayText {
			font-size: 14px;
		}

		.subwayResources {
			display: flex;
			flex-direction: column;
			justify-content: space-bewteen;
			font-size: 14px;
		}

		.subwayResources a, .subwayResources a:visited, .subwayResources a:active {
			padding-bottom: 10px;
		}

	}

/*restaurants background*/
#restaurantsBody {
	margin:0px;
	background-image: url("JPEG/bg2.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

/*attractions background*/
#attractionsBody {
	margin:0px;
	background-image: url("bg3.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

/*itineraries background*/
#itinerariesBody {
	margin:0px;
	background-image: url("bg4.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

/*subway background*/
#subwayBody {
	margin:0px;
	background-image: url("bg5.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

/*CONTENT*/
.container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.box {
	background-color: rgb(223, 217, 212, 0.5);
	width: 40%;
	min-width: 500px;
	height: 400px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 5px;
	display: flex;
}

.column1 {
	width: 50%;
	padding: 5px;
	min-width: 220px;
	margin-right: 5px;
	background-color: #E0DBD7;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.column2 {
	width:50%;
	min-width: 240px;
	display: flex;
	justify-content: center;
}

.boxTitle {
	font-family: DMSerif;
	font-size: 26px;
	text-align: center;
}

.address {
	font-family: Lora;
	font-size: 14px;
	margin-top: 15px;
	padding: 10px;
	text-align: center;
}

.description {
	font-family: Lora;
	font-size: 16px;
	padding: 10px;
	text-align: left;
}

.website {
	margin-top: 20px;
	font-family: Lora;
	font-size: 16px;
	display: flex;
	justify-content: center;
}


.image {
	width:100%;
	height: auto;
	object-fit: cover; /* NOTE: Prevent image from getting squished */
}

	/*MOBILE - content*/
	@media only screen and (max-width: 480px) {
		.box {
			min-width: 300px;
			height: 250px;
		}

		.column1 {
			min-width: 100px;
		}

		.column2 {
			min-width: 100px;
		}

		.boxTitle {
			font-size: 15px;
		}

		.description {
			font-size: 10px;
			padding: 5px;
		}

		.address {
			font-size: 6px;
			margin-top: 5px;
			padding: 1px;
		}

		.website {
			margin-top: 5px;
			font-size: 8px;
		}

	}